/.*/
!/.github/
!/.vscode/

/build/
/doc/api/
/lib/php/
/node_modules/
/var/
/vendor/
/www/

/*.code-workspace
/*.iml
/**/.DS_Store
/composer.lock
/npm-debug.log
/package-lock.json
/lib/js/browser.cjs
/share/*.private.env.json
